<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>📝 Create Account</h1>

<div class="card" style="margin:auto; width:300px;">
    <form method="POST">
        
        <input type="text" name="username" placeholder="Enter Username" required>
        
        <input type="password" name="password" placeholder="Enter Password" required>
        
        <button>🚀 Register</button>
    </form>

    <br>

    <p>Already have an account?</p>
    <a href="/login_user">👉 Login here</a>
</div>

</body>
<script src="/static/script.js"></script>
</html>